nav{
    height: .90rem;
    width: 100%;
    box-shadow: 0 .08rem .30rem .1rem rgba(238,248,255,1);
    margin-top: .88rem;
    padding: 0 1.46rem;
    box-sizing: border-box;
}
nav ul{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;

}
nav ul li{
    width: 1.34rem;
    height: .53rem;
    background: #e7f6ff;
    border-radius: .26rem;
    margin-top: .21rem;
    font-size: .20rem;
    color: #3bacfe;
    line-height: .53rem;
    text-align: center;
}
nav ul li:first-child{
    background: #3bacfe;
    color: white;
}
.banner{
    padding: 0 .46rem;
    width: 100%;
    height: 2.22rem;
    box-sizing: border-box;
}
.banner ul{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}
.banner ul li{
    width: 1.12rem;
    height: 100%;
}
.banner ul li .pic{
    width: 1.12rem;
    height: 1.12rem;
    background: pink;
    border-radius: 50%;
    margin-top: .49rem;
    background: url("../img/xiyi.png") no-repeat center;
    background-size: cover;
}
.banner ul li:nth-child(2) .pic{
    background-image: url("../img/xixie.png");
}
.banner ul li:nth-child(3) .pic{
    background-image: url("../img/xijiafang.png");
}
.banner ul li:nth-child(4) .pic{
    background-image: url("../img/xichuanglian.png");
}
.banner ul li .text{
    width: 100%;
    height: .24rem;
    color: #8d9397;
    text-align: center;
    line-height: .24rem;
    margin-top: .2rem;
    font-size: .24rem;
}
main{
    width: 100%;
    padding: 0 .24rem;
    box-sizing: border-box;
}
.tittle{
    width: 100%;
    height: .33rem;
    margin-top: .33rem;
}
.tittle .dian{
    width: .1rem;
    height: 0.05rem;
    background: #44b5ff;
    border-radius: 0.025rem;
    box-shadow: 0 .06rem .1rem .02rem rgba(199,233,255,1);
    margin: .14rem .11rem 0 .02rem;
    overflow: hidden;
    float: left;
}
.tittle .text1{
    font-size: .30rem;
    color: #4f5b64;
    line-height: .33rem;
    float: left;
}
.tittle .text1 span{
    color: #41b2fc;
}
main ul{
    width: 100%;
    height: 7.2rem;
}

main ul .content{
    width: 100%;
    height: 1.98rem;
    margin-top: .35rem;
}
main ul li .left{
    width: 1.98rem;
    height: 1.98rem;
    border-radius: 5px;
    float: left;
    background: white url("../img/baobao.png") no-repeat center;
    background-size: 1.23rem 1.39rem;
    margin-right: .23rem;
    box-shadow: 0 0 .1rem .05rem rgba(245,247,248,1);
}
.content .right{
    width: 4.80rem;
    height: 100%;
    float: right;
}
.content .right .word_big{
    width: 100%;
    height: .29rem;
}
.content .right .word_big .word_L{
    font-size: .28rem;
    color: #646666;
    float: left;
    line-height: .29rem;
}
.content .right .shuoming{
    width: 100%;
    height: .44rem;
    color: #afb1b2;
    font-size: .18rem;
    line-height: .18rem;
    margin-top: .2rem;
    padding-bottom: .2rem;
    box-sizing: border-box;
    border-bottom: .01rem solid #f0f5f7;
}
.content .right .and{
    width: 100%;
    height: .24rem;
    margin-top: .2rem;
}
.content .right .grade{
    width: 3.0rem;
    height: .22rem;
    float: left;
    display: flex;
    justify-content: space-between;
}
.content .right .grade li{
    width: 1.35rem;
    height: .22rem;
    padding: 0;
    float: left;
}
.content .right .grade .dian{
    width: .05rem;
    height: .05rem;
    background: #44b5ff;
    border-radius: 0.025rem;
    box-shadow: 0 .06rem .1rem .02rem rgba(199,233,255,1);
    margin-top: .08rem;
    margin-right: .08rem;
    float: left;
}
.content .right .grade .word{
    font-size: .22rem;
    color: #afb1b2;
    line-height: .22rem;
    float: left;
}
.content .right .grade .five{
    color: #36a8fe;
    margin-left: .12rem;
}
.content .right .price{
    width: 1.36rem;
    height: 100%;
    font-size: .24rem;
    line-height: .24rem;
    color: #fbb548;
    float: right;
    text-align: right;
}
.content .right .bottom{
    width: 100%;
    height: .44rem;
    overflow: hidden;
    margin-top: .03rem;
}
.content .right .bottom .sales{
    height: .2rem;
    width: 1.83rem;
    margin-top: .15rem;
    float: left;

}
.content .right .bottom .box{
    width: .3rem;
    height: .3rem;
    float: left;
    margin-right: .1rem;
    background: url("../img/baodashi.png") no-repeat center;
    background-size: cover;
}
.content .right .bottom .text{
    font-size: .16rem;
    color: #afb1b2;
    float: left;
}