@import url(base.css);
.all-head{
    width: 100%;
    height: .88rem;
    background: #fbfeff;
    position: fixed;
    top: 0;
    z-index: 999;
    display: flex;
    justify-content: space-between;
}
.all-head-left{
    width: .48rem;
    height: 100%;
    background: yellow;
    margin-left: .24rem;
}
.all-head-center{
    font-size: .28rem;
    color: #53bafe;
    text-align: center;
    line-height: .88rem;
}
.all-head-right{
    width: .48rem;
    height: 100%;
    background: yellow;
    margin-right: .24rem;
}
.shouhuo{
    width: 7.04rem;
    height: 3.41rem;
    margin: .88rem auto;
    background: #fbfeff;
    border-bottom: .02rem solid #f6f9fa;
}
.shouhuodizhi{
    display: block;
    width: 7.04rem;
    height: 1.17rem;
    background: #fbfeff;
}
.shouhuodizhi1{
    width: 2.4rem;
    height: 1.17rem;
    background: #fbfeff;
    float: left;
    line-height: 1.17rem;
    text-align: left;
    font-size: .25rem;
    color: #979899;
}
.shouhuodizhi2{
    width: .47rem;
    height: 1.17rem;
    background: #fbfeff;
    margin-right: .07rem;
    float: right;
    line-height: 1.17rem;
    text-align: right;
    font-size: .25rem;
    color: #979899;
}
.dingdan{
    width: 7.04rem;
    height: 2.24rem;
    background: #fbfeff;
    display: flex;
}
.dingdan_L{
    width: 1.76rem;
    height: 2.24rem;
    background: url("../img/bluecoat.png") no-repeat center;
    background-size: 1.76rem 1.76rem;
}
.dingdan_R{
    width: 5.28rem;
    height: 2.24rem;
    background: #fbfeff;
}
.dingdan_R1{
    width: 5rem;
    height: .32rem;
    background: #fbfeff;
    font-size: .32rem;
    text-align: left;
    line-height: .32rem;
    color: #646666;
}
.dingdan_R2{
    width: 5rem;
    height: .18rem;
    background: #fbfeff;
    font-size: .18rem;
    text-align: left;
    line-height: .18rem;
    margin-top: .22rem;
    color: #36a8fe;
}
.dingdan_R3{
    width: 5rem;
    height: .2rem;
    background: #fbfeff;
    font-size: .2rem;
    text-align: left;
    line-height: .2rem;
    margin-top: .16rem;
    color: #afb1b2;
}
.dingdan_R4{
    width: 100%;
    height: .84rem;
    background: #fbfeff;
    margin-top: .14rem;
}
.dingdan_R4_L{
    width: 1.26rem;
    height: .84rem;
    background: #fbfeff;
    float: left;
    font-size: .2rem;
    line-height: .84rem;
    text-align: left;
    color: #fbb548;
}
.dingdan_R4_R{
    width: .64rem;
    height: .84rem;
    background: #fbfeff;
    float: right;
    font-size: .2rem;
    line-height: .84rem;
    text-align: right;
    color: #8a8c8d;
}
.youhuiquan{
    display: block;
    width: 7.04rem;
    height: 0.99rem;
    border-bottom: .02rem solid #f6f9fa;
    background: #fbfeff;
    margin: -0.86rem auto;
}
.dian{
    width: .1rem;
    height: .99rem;
    color: #44b5ff;
    line-height: .99rem;
    text-align: center;
    font-size: .06rem;
    float: left;
}
.zhengwen{
    width: 6.94rem;
    height: .99rem;
    background: #fbfeff;
    line-height: .99rem;
    color: #8a8c8d;
    font-size: .24rem;
    float: right;
}
.zhengwen_L{
    width: 1.75rem;
    height: .99rem;
    background: #fbfeff;
    text-align: left;
    float: left;
    font-size: .24rem;
    color: #646666;
    margin-left: .14rem;
}
.zhengwen_R{
    width: 3.76rem;
    height: .99rem;
    background: #fbfeff;
    text-align: right;
    float: right;
    font-size: .24rem;
    color: #646666;
    margin-left: .14rem;
}
.youhuiquan1{
    display: block;
    width: 7.04rem;
    height: 0.99rem;
    border-bottom: .02rem solid #f6f9fa;
    background: #fbfeff;
    margin: 0.9rem auto;
}
.youhuiquan2{
    display: block;
    width: 7.04rem;
    height: 0.99rem;
    border-bottom: .02rem solid #f6f9fa;
    background: #fbfeff;
    margin: -0.85rem auto;
}
.youhuiquan3{
    display: block;
    width: 7.04rem;
    height: 0.99rem;
    border-bottom: .02rem solid #f6f9fa;
    background: #fbfeff;
    margin: 0.9rem auto;
}
.youhuiquan4{
    display: block;
    width: 7.04rem;
    height: 0.99rem;
    border-bottom: .02rem solid #f6f9fa;
    background: #fbfeff;
    margin: -0.85rem auto;
}
.youhuiquan5{
    display: block;
    width: 7.04rem;
    height: 0.99rem;
    border-bottom: .02rem solid #f6f9fa;
    background: #fbfeff;
    margin: 0.9rem auto;
}
.zhengwen_L5{
    width: 4.6rem;
    height: .99rem;
    background: #fbfeff;
    text-align: left;
    line-height: .99rem;
    float: left;
    font-size: .24rem;
    color: #646666;
    margin-left: .14rem;
}
.dian{
    width: .1rem;
    height: .99rem;
    color: #44b5ff;
    line-height: .99rem;
    text-align: center;
    font-size: .06rem;
    float: left;
}
.zhengwen{
    width: 6.94rem;
    height: .99rem;
    background: white;
    line-height: .99rem;
    color: #8a8c8d;
    font-size: .24rem;
    float: right;
}
.zhengwen_L{
    width: 1.75rem;
    height: .99rem;
    background: #fbfeff;
    text-align: left;
    float: left;
    font-size: .24rem;
    color: #646666;
    margin-left: .14rem;
}
.zhengwen_R{
    width: 3.76rem;
    height: .99rem;
    background: #fbfeff;
    text-align: right;
    float: right;
    font-size: .24rem;
    color: #646666;
    margin-left: .14rem;
}
.bottom{
    width: 7.5rem;
    height: 1.08rem;
    margin-top: 1.61rem;
    background: #f1faff;
    position: relative;
}
.bottommoney{
    width: 2.7rem;
    height: 1.08rem;
    background: #f1faff;
    display: flex;
}
.bottommoney1{
    width: 1.28rem;
    height: 1.08rem;
    /*background: #37e06f;*/
    text-align: center;
    line-height: 1.08rem;
    color: #84cbfe;
    font-size: .24rem;
}
.bottommoney2{
    width: 1.43rem;
    height: 1.08rem;
    /*background: #37e06f;*/
    text-align: left;
    line-height: 1.08rem;
    font-size: .24rem;
    font-weight: bold;
    color: #36a8fe;
}
.bottonbtn{
    display: block;
    width: 3.5rem;
    height: .6rem;
    background: #3bacfe;
    position: absolute;
    top: .26rem;
    right: .36rem;
    border-radius: 50px;
    color: white;
    font-size: .2rem;
    line-height: .6rem;
    text-align: center;
}