@import url(base.css);
body{
    background: #fbffff;
    z-index: -999;
}
main{
    width: 100%;
    height: auto;
    padding: 0 .24rem;
    box-sizing: border-box;
}
.main-title{
    width: 100%;
    height: .76rem;
    display: flex;
    background: #fbffff;
    justify-content: space-between;
}
.title-son{
    width: auto;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
h1{
    font-size: .24rem;
    color: #1b9afb;
    margin-left: .1rem;
}
.star{
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: .15rem;
}
.star>li{
    height: 100%;
    font-size: .4rem;
    color: #e5e3e6;
    line-height: .76rem;
    margin-left: .15rem;
}
.star>.hot{
    color: #32a9ff;
}
.title-son1{
    position: relative;
}
.title-son1>h1{
    width: .76rem;
    color: #ffbd52;
    position: absolute;
    top: .25rem;
    right: 0;
    z-index: -10;
}
textarea{
    margin: .2rem auto 0;
    display: block;
    width: 6.4rem;
    height: 2.6rem;
    padding: .2rem .3rem;
    resize: none;
    outline: none;
    border-radius: .05rem;
    border: 0;
    box-shadow: 0 0 .2rem .01rem rgba(0,0,0,.1);
}
.input-img-box{
    width: 1.2rem;
    height: 1.2rem;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 .2rem .01rem rgba(0,0,0,.1);
    margin-top: .25rem;
    border-radius: .05rem;
}
.input-img{
    width: 1.2rem;
    height: 1.2rem;
    outline: none;
    background: yellow;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
}
.input-img-box>.icon-zhaoxiangji{
    color: #5bccfa;
    font-size: .5rem;
}
h2{
    font-size: .2rem;
    color: #afafb1;
    margin-top: .17rem;
    margin-left: .15rem;
    font-weight: normal;
}
.niming{
    width: 100%;
    height: .26rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: .4rem;
    font-size: .26rem;
    line-height: .26rem;
}
.niming>input{
    margin-right: .1rem;
}
button{
    width: 3.8rem;
    height: .6rem;
    background-image: -webkit-linear-gradient(left,#3adf6a,#33d699);
    border-radius: .3rem;
    border: 0;
    outline: none;
    font-size: .24rem;
    color: #fff;
    line-height: .6rem;
    display: block;
    margin: 1.8rem auto 0;
}
