@import url(base.css);
.all-head{
    width: 100%;
    height: .88rem;
    background: #fbfeff;
    position: fixed;
    top: 0;
    z-index: 999;
    display: flex;
    justify-content: space-between;
}
.all-head-left{
    width: .48rem;
    height: 100%;
    background: yellow;
    margin-left: .24rem;
}
.all-head-center{
    font-size: .28rem;
    color: #53bafe;
    text-align: center;
    line-height: .88rem;
}
.all-head-right{
    width: .48rem;
    height: 100%;
    background: yellow;
    margin-right: .24rem;
}
.loginway{
    width: 3.38rem;
    height: .3rem;
    /*background: #37e06f;*/
    margin: 3.18rem auto;
    display: flex;
    justify-content: space-between;
}
.fast{
    font-size: .3rem;
    color: #646666;
    line-height: 100%;
}
.id{
    font-size: .3rem;
    color: #c9cbcc;
    line-height: 100%;
}
.xiahualine{
    width: .91rem;
    height: .06rem;
    background: #5cb3f1;
    margin-top: -3.05rem;
    margin-left: 2.11rem;
}
.tele{
    width: 5.19rem;
    height: .74rem;
    /*background: darkgoldenrod;*/
    margin: .36rem auto;
    position: relative;
    border-bottom: .02rem solid red;
}
.icon-shouji{
    width: 0.5rem;
    height: .71rem;
    color: #34a2ff;
    line-height: .71rem;
    text-align: center;
    float: left;
}
.es{
    width: .68rem;
    height: .71rem;
    color: #34a2ff;
    line-height: .71rem;
    text-align: center;
    font-size: .16rem;
    margin-right: 4.01rem;
    float: right;
}
.telenum{
    width: 4.01rem;
    height: .71rem;
    outline: none;
    font-size: .2rem;
    position: absolute;
    top: 0;
    right: 0;
    line-height: .71rem;
    border: none;
}
.message{
    width: 5.19rem;
    height: .74rem;
    /*background: yellow;*/
    margin: 0 auto;
    position: relative;
    border-bottom: .02rem solid red;
}
.point{
    width: .48rem;
    height: .71rem;
    font-size: .5rem;
    text-align: center;
    line-height: .71rem;
    color: #34a2ff;
    float: left;
}
.duanxin{
    width: 3.12rem;
    height: .71rem;
    position: absolute;
    top: 0.01rem;
    left: .48rem;
    outline: none;
    border: none;
    font-size: .2rem;
    line-height: .71rem;
}
.messagebtn{
    display: block;
    width: 1.59rem;
    height: .71rem;
    border-radius: .5rem;
    background-image: -webkit-linear-gradient(left,#37e071,#32d699);
    float: right;
    margin-top: 0.03rem;
    font-size: .2rem;
    color: white;
    text-align: center;
    line-height: .71rem;
}
.fastlogin{
    display: block;
    width: 3.86rem;
    height: 0.52rem;
    background: #e7f6ff;
    margin: .39rem auto;
    border-radius: .5rem;
    font-size: .2rem;
    color: #6bc1fe;
    line-height: .52rem;
    text-align: center;
}
.hou{
    width: 5.3rem;
    height: .45rem;
    /*background: sienna;*/
    margin: .2rem auto;
    position: relative;
}
.houmian{
    position: absolute;
    top: 0.1rem;
    left: 0;
}
.houmianzi{
    font-size: .2rem;
    color: #afb1b2;
    position: absolute;
    top: 0.06rem;
    right: 0;
}

