@import url(base.css);
.all-head{
    width: 100%;
    height: .88rem;
    background: #fbfeff;
    position: fixed;
    top: 0;
    z-index: 999;
    display: flex;
    justify-content: space-between;
}
.all-head-left{
    width: .48rem;
    height: 100%;
    background: yellow;
    margin-left: .24rem;
}
.all-head-center{
    font-size: .28rem;
    color: #53bafe;
    text-align: center;
    line-height: .88rem;
}
.all-head-right{
    width: .48rem;
    height: 100%;
    background: yellow;
    margin-right: .24rem;
}
.user{
    width: 7.5rem;
    height: .3rem;
    font-size: .3rem;
    text-align: center;
    line-height: .3rem;
    color: #646666;
    margin-top: 3.18rem;
}
.tianxie{
    width: 5.19rem;
    height: .74rem;
    /*background: darkgoldenrod;*/
    margin: .68rem auto;
    position: relative;
    border-bottom: .02rem solid red;
}
.icon-yonghu{
    width: 0.5rem;
    height: .71rem;
    color: #34a2ff;
    line-height: .71rem;
    text-align: center;
    float: left;
}
.telenum{
    width: 4.5rem;
    height: .71rem;
    outline: none;
    font-size: .2rem;
    position: absolute;
    top: 0;
    right: 0;
    line-height: .71rem;
    border: none;
}
.tianxie1{
    width: 5.19rem;
    height: .74rem;
    /*background: darkgoldenrod;*/
    margin: -0.5rem auto;
    position: relative;
    border-bottom: .02rem solid red;
}
.icon-dingweiweizhi{
    width: 0.5rem;
    height: .71rem;
    color: #34a2ff;
    line-height: .71rem;
    text-align: center;
    float: left;
}
.tele1{
    width: 5.19rem;
    height: .74rem;
    /*background: darkgoldenrod;*/
    margin: .68rem auto;
    position: relative;
    border-bottom: .02rem solid red;
}
.icon-shouji{
    width: 0.5rem;
    height: .71rem;
    color: #34a2ff;
    line-height: .71rem;
    text-align: center;
    float: left;
}
.es{
    width: .68rem;
    height: .71rem;
    color: #34a2ff;
    line-height: .71rem;
    text-align: center;
    font-size: .16rem;
    margin-right: 4.01rem;
    float: right;
}
.telenum1{
    width: 4.01rem;
    height: .71rem;
    outline: none;
    font-size: .2rem;
    position: absolute;
    top: 0;
    right: 0;
    line-height: .71rem;
    border: none;
}
.icon-quhuazhibiao{
    width: 0.5rem;
    height: .71rem;
    color: #34a2ff;
    line-height: .71rem;
    text-align: center;
    float: left;
}
.tijiaobtn{
    display: block;
    width: 3.86rem;
    height: .52rem;
    margin: 1rem auto;
    background: #3bacfe;
    border-radius: .5rem;
    font-size: .2rem;
    color: white;
    line-height: .52rem;
    text-align: center;
}
.hou1{
    width: 5.3rem;
    height: .45rem;
    /*background: sienna;*/
    margin: -0.7rem auto;
    position: relative;
}
.houmian{
    position: absolute;
    top: 0.1rem;
    left: 0;
}
.houmianzi{
    font-size: .2rem;
    color: #afb1b2;
    position: absolute;
    top: 0.06rem;
    right: 0;
}