.all-head{
    box-shadow: 0 .06rem .2rem .06rem rgba(236,248,255,1);
}
.password_in_box{
    width: 100%;
    height: 7.74rem;
    position: relative;
    margin-top: .88rem;
}
.password_in_wz_box{
    width: 4.84rem;
    height: 1.04rem;
    /*background: #0070c9;*/
    position: absolute;
    top:2.26rem;
    left: 1.3rem;
    padding-left: 0.86rem;
    padding-top: 0.28rem;
    box-sizing: border-box;
}
.password_in_in_wz_box{
    width: 3.10rem;
    height: 0.44rem;
    /*background: #ffac32;*/
    /*position: relative;*/
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

}
.password_in_in_dian{
    width: 0.1rem;
    height: 0.06rem;
    background: #34da87;
    border-radius: 0.03rem;
}
.password_in_in_wz_box .password_in_in_wz{
    width: 2.60rem;
    height: 0.3rem;
    font-size: 0.28rem;
    color: #323333;
    text-align: center;
    line-height: 0.3rem;
}
.password_in_round_box{
    width: 4.84rem;
    height: 1.24rem;
    /*background: #ff4045;*/
    border-top: 0.01rem solid#f1f4f5;
    position: absolute;
    top: 3.30rem;
    left: 1.3rem;
    padding-top: 0.38rem;
    padding-left: 0.50rem;
}
.password_in_in_round_box{
    width: 3.88rem;
    height: 0.48rem;
    /*background: #0ff31a;*/
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.password_in_in_round_box li{
    width: 0.46rem;
    height: 0.46rem;
    border-radius: 50%;
    background: #e3eef6;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.password_in_in_round_box li:first-child{
    background: #2fa5ff;
    box-shadow: 0 0.02rem 0.04rem 0.04rem rgba(171,219,255,0.8);
}
.password_in_in_round_box .password_in_in_round_wai{
    width: 0.20rem;
    height: 0.20rem;
    border-radius: 50%;
    background: #1c8adf;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}
.password_in_in_round_box .password_in_in_round_lei{
    width: 0.1rem;
    height: 0.1rem;
    border-radius: 50%;
    background: #ffffff;

}
.bg .password_bottom_button{
    display: block;
    width: 4.54rem;
    height: 0.6rem;
    background-image: -webkit-linear-gradient(left,#37e070,#32d69a);
    border-radius: 0.3rem;
    position: absolute;
    top: 6.26rem;
    left: 1.46rem;
    font-size: 0.2rem;
    color: #ffffff;
    text-align: center;
    line-height: 0.6rem;
    box-shadow: 0 0.04rem 0.04rem 0.04rem rgba(181,243,205,0.8);
}