@import url("base.css");
html body{
    width: 100%;
    height: 100%;
    background: #fbfeff;
}
.all-head{
    width: 100%;
    height: .88rem;
    /*background: red;*/
    position: fixed;
    top: 0;
    z-index: 999;
    display: flex;
    justify-content: space-between;
}
.all-head-left{
    width: .48rem;
    height: 100%;
    /*background: yellow;*/
    margin-left: .24rem;
}
.all-head-left>a{
    display: block;
}
.icon-fanhui{
    font-size: 0.41rem;
    color: #36a8fe;
    text-align: center;
    margin-top: 0.30rem;
}

.all-head-center{
    font-size: .34rem;
    color: #53bafe;
    text-align: center;
    line-height: .88rem;
}
.all-head-right{
    width: .48rem;
    height: 100%;
    /*background: yellow;*/
    margin-right: .24rem;
}
nav{
    width:100%;
    height: 0.49rem;
    /*background: #cfcfcf;*/
    margin-top: 1.7rem;
}
.navtop{
    width: 7.15rem;
    height: 0.49rem;
    /*background: #ffca3b;*/
    margin-left: 0.24rem;
}
.nav1{
    width: 1.43rem;
    height: 0.41rem;
    /*background:red;*/
    float: left;
    color: #36a8fe;
    font-size: 0.19rem;
    text-align: center;
}
.nav1:nth-child(1){
    border-bottom: 0.08rem solid #3bacfe;
}
section{
    width: 100%;
    height: 100%;
    background: #fbfeff;
    position: relative;
}
.concent{
    width: 100%;
    height:8.77rem;
    background: #fff;
    position: absolute;
    top:0.49rem;
    left:0;
    z-index: 5;
}
.user{
    width: 7.01rem;
    height: 2.41rem;
    /*background: #ffca3b;*/
    margin-left: 0.24rem;
    border-bottom: 0.01rem solid #f0f5f7;
    overflow: hidden;
}
.touxiang{
    width: 0.85rem;
    height: 0.85rem;
    /*background: red;*/
    float: left;
    border-radius: 50%;
    margin-top: 0.45rem;
    background: url("../img/c6cc6.png") no-repeat center;
    background-size: 0.85rem 0.85rem;
}
.name{
    width: 5.95rem;
    height: 0.19rem;
    /*background: red;*/
    margin-left: 1.06rem;
    margin-top: 0.785rem;
}
.name-left{
    font-size: 0.19rem;
    color: #cfcfcf;
    line-height: 0.19rem;
    float: left;
    margin-right: 0.44rem;
}
.time{
    font-size: 0.16rem;
    color: #9ed5ff;
    float: right;
    line-height: 0.19rem;
}
.good{
    font-size: 0.27rem;
    color: #646666;
    margin-left: 1.06rem;
    margin-top:0.23rem;
}
.add{
    font-size: 0.21rem;
    color: #afb1b2;
    margin-left: 1.06rem;
    margin-top:0.23rem;
}
.user2{
    width: 7.01rem;
    height: 3.95rem;
    /*background:green;*/
    border-bottom: 0.01rem solid #f0f5f7;
    margin-left: 0.24rem;
    overflow: hidden;
}
.shoes{
    width: 1.78rem;
    height: 1.28rem;
    background: url("../img/3@3x.png") no-repeat center;
    background-size:1.78rem 1.28rem ;
    margin-left: 1.06rem;
    margin-top: 0.19rem;
}
.icon-heart{
    display: block;
    font-size: 0.23rem;
    color: #3bc1ff;
    float:left;
    margin-right: 0.65rem;
    margin-left:5.5rem;
}
.icon-liaotian{
    display: block;
    font-size: 0.23rem;
    color: #35db84;
}