@import url("base.css");
html body{
    width: 100%;
    height: 100%;
    background: #fbfeff;
}
.all-head{
    width: 100%;
    height: .88rem;
    /*background: red;*/
    position: fixed;
    top: 0;
    z-index: 999;
    display: flex;
    justify-content: space-between;
}
.all-head-left{
    width: .48rem;
    height: 100%;
    /*background: yellow;*/
    margin-left: .24rem;
}
.all-head-left>a{
    display: block;
}
.icon-fanhui{
    font-size: 0.41rem;
    color: #36a8fe;
    text-align: center;
    margin-top: 0.30rem;
}

.all-head-center{
    font-size: .34rem;
    color: #53bafe;
    text-align: center;
    line-height: .88rem;
}
.all-head-right{
    width: .48rem;
    height: 100%;
    /*background: yellow;*/
    margin-right: .24rem;
}
section{
    width: 100%;
    height: 100%;
}
.product{
    width: 7.02rem;
    height: 3.02rem;
    /*background: #ffca3b;*/
    margin-top: 1.81rem;
    margin-left: 0.24rem;
    border-bottom: 0.01rem solid #f1f4f5;
}
.product-top{
    width: 100%;
    height: 1.77rem;
    /*background: #999999;*/
}
.longtou{
    width: 1.74rem;
    height: 1.75rem;
    background: url("../img/4@3x.png") no-repeat center;
    background-size: 1.74rem 1.75rem;
    float: left;
}
.longtouming{
    width: 5rem;
    height: 1.77rem;
    /*background: #ff7370;*/
    float: right;
}
.longtouming>h2{
    font-size: 0.28rem;
    color: #646666;
}
.type{
    width: 1.71rem;
    height: 0.18rem;
    /*background: #ffca3b;*/
    margin-top: 0.23rem;
    overflow: hidden;
}
.yuan{
    width: 0.05rem;
    height: 0.05rem;
    border-radius: 0.3rem;
    background: #44b5ff;
    margin-top: 0.06rem;
    float: left;
}
.type1{
    font-size: 0.18rem;
    color:#44b5ff;
    float: right;
    line-height: 0.18rem;
}
.model{
    width: 2.75rem;
    height: 0.21rem;
    /*background: #ff6700;*/
    margin-top: 0.16rem;
}
.type2{
    font-size: 0.2rem;
    line-height: 0.21rem;
    color: #afb1b2;
    margin-left: 0.11rem;
}
.cost{
    width: 1.01rem;
    height: 0.2rem;
    /*background: #999999;*/
    margin-top: 0.4rem;
    float: left;

}
.cost1{
    font-size: 0.2rem;
    color: #8a8c8d;
    line-height: 0.2rem;
}
.num{
    width: 0.45rem;
    height: 0.18rem;
    /*background: white;*/
    float: right;
    margin-top: 0.4rem;
}
.yuan1{
    background: #36d681;
}
.num1{
    font-size: 0.18rem;
    color:#8a8c8d ;
    line-height: 0.18rem;
    float:right;
}
.pay{
    width: 1.98rem;
    height: 0.23rem;
    /*background: #ff7370;*/
    margin-top: 0.49rem;
    float: right;
}
.money{
    font-size: 0.23rem;
    color: #fbb548;
    line-height: 0.23rem;
    float: right;
}
.yuanyin{
    width: 7.02rem;
    height: 1.01rem;
    /*background: #999999;*/
    margin-left: 0.24rem;
    border-bottom: 0.01rem solid #f1f4f5;
    overflow: hidden;
}
.yuanyin-left{
    width: 1.27rem;
    height: 0.26rem;
    /*background: #ff7370;*/
    margin-top: 0.3rem;
    overflow: hidden;
    float: left;
}
.yuanyin1{
    width: 0.1rem;
    height: 0.05rem;
    border-radius: 0.3rem;
    background: #44b5ff;
    margin-top: 0.1rem;
    float: left;
}
.yuanyin2{
    font-size: 0.26rem;
    color: #474747;
    line-height: 0.26rem;
    float: right;
}
span{
    color: #41b2fc;
}
.yuanyin-right{
    width: 1.28rem;
    height: 0.25rem;
    /*background: #ff7370;*/
    float: right;
    margin-top: 0.3rem;
}
.yuanyin3{
    font-size: 0.25rem;
    color: #646666;
    line-height: 0.25rem;
    float: left;
}
.icon-arr-right{
    display: block;
    font-size: 0.24rem;
    color: #36a8fe;
    float: right;
}
.tuikuan{
    width: 7.02rem;
    height: 2.83rem;
    /*background: #ff7370;*/
    margin-left: 0.24rem;
}
.tuikuan-top{
    width: 100%;
    height: 1.35rem;
    /*background: red;*/
    overflow: hidden;
}
.tuikuan-bot{
    width: 100%;
    height: 1.48rem;
    background: #f1faff;
    overflow: hidden;
    border-radius: 0.2rem;
}
.sum{
    width: 4.2rem;
    height: 0.26rem;
    /*background: #36d681;*/
    margin-top: 0.33rem;
}
.space{
    margin-top: 0;
}
p{
    width: 0.53rem;
    height: 0.26rem;
    display: inline;
    color: #fcbc41;
}
.post{
    font-size: 0.21rem;
    color: #afb1b2;
    float: right;
    line-height: 0.26rem;
}
textarea{
    width: 7.02rem;
    height: 1.48rem;
    outline: none;
    background: #f1faff;
    border: none;
    padding-left: 0.24rem;
    padding-top: 0.35rem;
}
.qian{
    font-size: 0.23rem;
    color: #fcbc41;
    margin-left: 0.24rem;
    margin-top: 0.23rem;
}
.pingzheng{
    width: 100%;
    height: 1.63rem;
    /*background: #999999;*/
    margin-top: 0.33rem;
}
.proof{
    width: 2.49rem;
    height: 0.26rem;
    /*background: #ff7370;*/
    margin-left: 0.24rem;
}
.yuanyin4{
    background: #36dd7c;
}
h4{
    display: block;
    color:#31d094;
    float: right;
}
.more{
    font-size: 0.22rem;
    color: #afb1b2;
    float:right;
    line-height: 0.26rem;
    margin-top: -0.26rem;
}
.picture{
    width: 1.02rem;
    height: 1.01rem;
    background-image: -webkit-linear-gradient(left,#37e070,#32d699);
    margin-top: 0.34rem;
    margin-left: 0.24rem;
    border-radius: 0.2rem;
    box-shadow: 0 0 0.1rem 0.02rem #a7f0c4;
}
.icon-zhaoxiangji{
    display: block;
    width: 0.49rem;
    height: 0.42rem;
    font-size: 0.42rem;
    color: white;
    margin-left: 0.28rem;
    line-height: 1.01rem;
}
.tijiao{
    width: 4.55rem;
    height: 0.6rem;
    background-image: -webkit-linear-gradient(left,#37e06f,#32d69a);
    font-size: 0.19rem;
    text-align: center;
    line-height: 0.6rem;
    color: white;
    border-radius: 0.3rem;
    margin-left: 1.49rem;
    margin-top: 1.23rem;
}
.tijiao1{
    margin-top: 0.8rem;
}