@import url("base.css");
html body{
    width: 100%;
    height: 100%;
    background: #fbfeff;
}
.all-head{
    width: 100%;
    height: .88rem;
    /*background: red;*/
    position: fixed;
    top: 0;
    z-index: 999;
    display: flex;
    justify-content: space-between;
}
.all-head-left{
    width: .48rem;
    height: 100%;
    /*background: yellow;*/
    margin-left: .24rem;
}
.all-head-left>a{
    display: block;
}
.icon-fanhui{
    font-size: 0.41rem;
    color: #36a8fe;
    text-align: center;
    margin-top: 0.30rem;
}

.all-head-center{
    font-size: .34rem;
    color: #53bafe;
    text-align: center;
    line-height: .88rem;
}
.all-head-right{
    width: .48rem;
    height: 100%;
    /*background: yellow;*/
    margin-right: .24rem;
}


.all-search{
    width: 100%;
    height: .6rem;
    /*background: greenyellow;*/
    display: flex;
    position: relative;
    margin-top: 0.88rem;
}
.all-search>a{
    display: block;
}
.all-search-center{
    width: 7.12rem;
    height: 100%;
    background: #f5faff;
    border: .01rem solid #999;
    box-sizing: border-box;
    border-radius: .3rem;
    padding:0 0.2rem;
    outline: none;
    position: relative;
    margin-left: 0.19rem;
}
.sousuo{
    width: 0.79rem;
    height: 0.44rem;
    background:#a4e0bd;
    position: absolute;
    right:0.29rem;
    bottom: .08rem;
    border-radius: 0.3rem;
}
.sousuo>i{
    width: 0.32rem;
    height: 0.32rem;
    display: block;
}
.icon-sousuo{
    font-size: 0.32rem;
    color: #e5f6ec;
    line-height: 0.44rem;
    margin-left: 0.23rem;
}
section{
    width: 100%;
    height: 100%;
}
.near{
    width: 100%;
    height: 1.56rem;
    /*background: red;*/
    margin-top: .2rem;
    overflow: hidden;
}
.near-top{
    width: 100%;
    height: .32rem;
    /*background:white;*/
    margin-top: 0.43rem;
    overflow: hidden;
    margin-left: 0.25rem;
}
.circle{
    width: 0.1rem;
    height: 0.05rem;
    border-radius: 0.3rem;
    background: #44b5ff;
    margin-top: 0.13rem;
    float: left;
    margin-right:0.1rem;
}
.word{
    width: 100%;
    height: 0.32rem;
    color: #4f5b64;
    font-size: 0.30rem;
    line-height: 0.32rem;
}
span{
    color:#36a8fe ;
}
.near-bottom{
    width: 100%;
    height: .48rem;
    /*background: white;*/
    margin-top: 0.33rem;
}
.near-bottom>a{
    display: block;
}
.shuiguan{
    width: .97rem;
    height: .48rem;
    border-radius: 0.3rem;
    background: #e7f6ff;
    margin-left: 0.39rem;
    font-size: 0.25rem;
    text-align: center;
    line-height: 0.48rem;
    color: #36a8fe;
    float: left;
}
.shuiguan-1{
    margin-left: 0.19rem;
}
.jump{
    width: 1.48rem;
    height: 0.48rem;
    background: #e7f6ff;
    float: left;
    border-radius: 0.3rem;
    margin-left: 0.19rem;
}
.jump>a{
    display: block;
}
.jump_1{
    font-size: 0.25rem;
    color: #36a8fe;
    text-align: center;
    line-height: 0.48rem;
}
.everyone{
    width: 100%;
    height: 1.79rem;
    /*background: red;*/
    margin-top: 0.7rem;
}
.everyone-center{
    width: 100%;
    height: 0.48rem;
    margin-top:0.27rem;
}
.everyone-bottom{
    width: 100%;
    height: 0.48rem;
    margin-top: 0.24rem;
}








