
.top{
    width: 100%;
    height: 3.44rem;
    margin-top: .19rem;
    padding: .42rem .24rem;
    box-sizing: border-box;
}
.tittle{
    width: 100%;
    height: .33rem;
}
.dian{
    width: .1rem;
    height: 0.05rem;
    background: #44b5ff;
    border-radius: 0.025rem;
    box-shadow: 0 .06rem .1rem .02rem rgba(199,233,255,1);
    margin: .14rem .11rem 0 .02rem;
    overflow: hidden;
    float: left;
}
.text{
    font-size: .30rem;
    color: #4f5b64;
    line-height: .33rem;
    float: left;
}
.text span{
    color: #41b2fc;
}
.content{
    margin-top: .4rem;
    width: 100%;
    height: 1.74rem;
    padding-left: .12rem;
    padding-right: .08rem;
    box-sizing: border-box;
}
.content .left{
    width: 1.74rem;
    height: 1.74rem;
    border-radius: 5px;
    float: left;
    background: url("../img/shuilongtou.png") no-repeat center;
    background-size: cover;
    margin-right: .23rem;
    box-shadow: 0 0 .15rem .1rem rgba(195,200,203,0.1);
}
.content .right{
    width: 4.84rem;
    height: 100%;
    float: right;
}
.content .right .word_big{
    width: 100%;
    height: .29rem;
}
.content .right .word_big .word_L{
    font-size: .28rem;
    color: #646666;
    float: left;
    line-height: .29rem;
}
.content .right .word_big .word_R{
    font-size: .28rem;
    color: #fbb548;
    float: right;
    line-height: .29rem;
}
.content .right .grade{
    width: 100%;
    height: .22rem;
    margin-top: .2rem;
}
.content .right .grade li{
    width: 1.80rem;
    height: .22rem;
    float: left;
}
.content .right .grade .dian{
    width: .05rem;
    margin-top: .08rem;
    margin-right: .08rem;
}
.content .right .grade .word{
    font-size: .22rem;
    color: #afb1b2;
    line-height: .22rem;
    float: left;
}
.content .right .grade .five{
    color: #36a8fe;
    margin-left: .12rem;
}
.content .right .comment{
    width: 100%;
    height: .34rem;
    margin-top: .19rem;
}
.content .right .comment li{
    width: 1.22rem;
    height: .34rem;
    background: #e7f6ff;
    border-radius: .17rem;
    color: #36a8fe;
    font-size: .18rem;
    text-align: center;
    line-height: .34rem;
    float: left;
    margin-right: .08rem;
}
.content .right .bottom{
    width: 100%;
    height: .44rem;
    overflow: hidden;
    margin-top: .03rem;
}
.content .right .bottom .sales{
    height: .2rem;
    margin-top: .15rem;
    float: left;

}
.content .right .bottom .dian{
    background: #36d681;
    width: .05rem;
    height: .05rem;
    border-radius: 50%;
    box-shadow: 0 .06rem .1rem .02rem rgba(212,246,230,1);
}
.content .right .bottom .text{
    font-size: .16rem;
    color: #afb1b2;
}
.content .right .bottom span{
    color: #c9cbcc;
}
.content .right .bottom .btn{
    width: 1.24rem;
    height: .44rem;
    background: #3bacfe;
    border-radius: .22rem;
    color: #fff;
    font-size: .18rem;
    text-align: center;
    line-height: .44rem;
    float: right;
}
.next{
    width: 100%;
    height: 7.66rem;
    padding: .39rem .24rem 0 .24rem ;
    box-sizing: border-box;
}
.next ul{
    width: 100%;
    height: 6.8rem;
    overflow: hidden;
}
.next ul .content{
    margin-top: 0;
    height: 2.39rem;
    border-bottom: .01rem solid #f6f9fa;
    padding-top: .31rem;
    padding-bottom: .34rem;
    box-sizing: border-box;
}
.next ul .content .left{
    background: url("../img/longtou.png") no-repeat center;
}
.next ul .content:nth-child(3){
    border-bottom: none;
}
.next ul .content .right .word_R{
    font-size: .28rem;
    color: #fbb548;
    float: right;
    line-height: .29rem;
    display: block;
    margin-top: .15rem;
}