.bg{
    position:relative ;
}
main{
    padding: 0 0.24rem;
    box-sizing: border-box;
}
.head{
    width: 6.44rem;
    height: 1.85rem;
    border-radius: .05rem;
    background: white;
    position: absolute;
    top: 1.21rem;
    left: .52rem;
    box-shadow: 0 0 .15rem .05rem rgba(0,0,0,0.1);
    z-index: 10;
}
.head .touxiang{
    width: .96rem;
    height: .96rem;
    border-radius: 50%;
    margin: .22rem .28rem;
    background:url("../img/touxiang.png") no-repeat center;
    background-size: cover;
    float: left;
}
.head .name{
    width: 4.48rem;
    height: .72rem;
    margin-top: .37rem;
    float: left;
}
.head .name .top{
    width: 100%;
    height: .28rem;
}
.head .name h3{
    height: .28rem;
    font-size: .28rem;
    line-height: .28rem;
    width: 1.69rem;
    float: left;
    color: #000;
}
.head .name h2{
    height: .19rem;
    margin-top: .09rem;
    float: right;

}
.head .name h2 a{
    height: .19rem;
    font-size: .19rem;
    line-height: .19rem;
    display: block;
    color: #3bacfe;
    font-weight: normal;
}
.head .bottom{
    width: 100%;
    height: .24rem;
    margin-top: 1.4rem;
}
.head .bottom .gold{
    width: .24rem;
    height: .24rem;
    margin-left: .27rem;
    margin-right: .12rem;
    background: url("../img/gold.png") no-repeat center;
    background-size: cover;
    float: left;
}
.head .bottom h4{
    width: 1rem;
    height: .24rem;
    font-size: .24rem;
    line-height: .24rem;
    color: #999;
    float:left;
}
.head .bottom .line{
    width: 2.95rem;
    height: .04rem;
    background: #ddf3fe;
    margin-top: .11rem;
    float: left;
    position: relative;
    margin-left: .2rem;
    margin-right: .2rem;
}
.head .bottom .line:before{
    content: "";
    display: block;
    width: 2.21rem;
    height: .04rem;
    position: absolute;
    top: 0;
    background-image: -webkit-linear-gradient(left,#36acfe,#34e0c5);
}
.head .bottom .gold1{
    margin-left: 0;
    background: url("../img/huigold.png") no-repeat center;
}
.diandian{
    width: 100%;
    height: 2.26rem;
    background: url("../img/diandian.png") no-repeat center;
    background-size: cover;
    margin-top: 1.73rem;
    z-index: 1;
}
main .bigul{
    width: 100%;
    height: 6.23rem;
    margin-top: -.2rem;
}
main .bigul li{
    width: 100%;
    height: 2.66rem;
}
main ul li:nth-child(2){
    margin-top: .91rem;
}
.tittle{
    width: 100%;
    height: .33rem;

}
.tittle .dian{
    width: .1rem;
    height: 0.05rem;
    background: #44b5ff;
    border-radius: 0.025rem;
    box-shadow: 0 .06rem .1rem .02rem rgba(199,233,255,1);
    margin: .14rem .11rem 0 .12rem;
    overflow: hidden;
    float: left;
}
.tittle .text1{
    font-size: .30rem;
    color: #4f5b64;
    line-height: .33rem;
    float: left;
    font-weight: bold;
}
.tittle .text2{
    float: right;

}
.tittle .text2 a{
    color: #979899;
    font-size: .26rem;
}
.tittle .text1 span{
    color: #41b2fc;
}
.smallul{
    width: 100%;
    height: 1.85rem;
    margin-top: .47rem;
}
.smallul .logo{
    width: 1.65rem;
    height: 1.85rem;
    float: left;
    margin-right: .39rem;
}
.smallul .logo .pic{
    width: 1.13rem;
    height: 1.18rem;
    margin-left: .2rem;
    border-radius: 50%;
    background: url("../img/ren.png") no-repeat center;
}
.smallul .logo .pic1{
    background: url("../img/zhekou.png") no-repeat center;
}
.smallul .logo .pic2{
    background: url("../img/kuaisu.png") no-repeat center;
}
.smallul .logo .word{
    width: 100%;
    height: .22rem;
    font-size: .22rem;
    color: #8e9397;
    text-align: center;
    line-height: .22rem;
    margin-top: .3rem;
}