@import url(base.css);
.all-head{
    width: 100%;
    height: .88rem;
    background: #fbfeff;
    position: fixed;
    top: 0;
    z-index: 999;
    display: flex;
    justify-content: space-between;
}
.all-head-left{
    width: .48rem;
    height: 100%;
    background: yellow;
    margin-left: .24rem;
}
.all-head-center{
    font-size: .28rem;
    color: #53bafe;
    text-align: center;
    line-height: .88rem;
}
.all-head-right{
    width: .48rem;
    height: 100%;
    background: yellow;
    margin-right: .24rem;
}
.dingdan2{
    width: 7.04rem;
    height: 3.39rem;
    background: #fbfeff;
    margin: .88rem auto;
    border-bottom: 2px solid #f6f9fa;
}
.dingdan2_top{
    display: block;
    width: 100%;
    height: 1.17rem;
    background: #fbfeff;
}
.dingdan2_top_L{
    width: 2.4rem;
    height: 1.17rem;
    background: #fbfeff;
    float: left;
    text-align: left;
    line-height: 1.17rem;
    font-size: .25rem;
    color: #979899;
}
.dingdan2_top_R{
    width: .4rem;
    height: 1.17rem;
    background: #fbfeff;
    float: right;
    text-align: right;
    margin-right: .08rem;
    line-height: 1.17rem;
    font-size: .25rem;
    color: #979899;
}
.dingdan2_up_L{
    width: 1.75rem;
    height: 2.22rem;
    background: url("../img/4@3x.png") no-repeat center;
    background-size: 1.5rem 1.5rem;
    float: left;
}
.dingdan2_up_R{
    width: 5.28rem;
    height: 2.22rem;
    background: #e7f6ff;
    float: right;
}
.dingdan2_up_R1{
    width: 2.68rem;
    height: .64rem;
    font-size: .28rem;
    color: #646666;
    text-align: left;
    line-height: .64rem;
    margin-left: .28rem;
}
.dingdan2_up_R2{
    width: 2.28rem;
    height: .28rem;
    color: #36a8fe;
    font-size: .18rem;
    text-align: left;
    line-height: .28rem;
    margin-left: .28rem;
}
.dingdan2_up_R3{
    width: 3.18rem;
    height: .43rem;
    color: #afb1b2;
    font-size: .21rem;
    text-align: left;
    line-height: .43rem;
    margin-left: .28rem;
}
.dingdan2_up_R4{
    width: 5.28rem;
    height: .87rem;
    background: #e7f6ff;
    display: flex;
    justify-content: space-between;
}
.dingdan2_up_R4_L{
    width: 1.55rem;
    height: .87rem;
    font-size: .2rem;
    color: #fbb548;
    line-height: .87rem;
    text-align: center;
}
.dingdan2_up_R4_R{
    width: 2.99rem;
    height: .52rem;
    background: #e7f6ff;
    margin-top: .21rem;
    display: flex;
}
.dingdan2_up_R4_R1{
    width: 1.18rem;
    height: .52rem;
    border-radius: 50px;
    background: #e7f6ff;
    color: #53bafe;
    font-size: .18rem;
    text-align: center;
    line-height: .52rem;
}
.dingdan2_up_R4_R1:last-child{
    background: #3bacfe;
    color: #ffffff;
}
.dingdan2_up_R4_R2{
    width: .63rem;
    height: .52rem;
    background: #e7f6ff;
    color: #53bafe;
    font-size: .18rem;
    text-align: center;
    line-height: .52rem;
}
.youhuiquan2{
    display: block;
    width: 7.04rem;
    height: .99rem;
    background: #fbfeff;
    border-bottom: 2px solid #f6f9fa;
    margin: -0.86rem auto;
}
.youhuiquan2-1{
     display: block;
     width: 7.04rem;
     height: .99rem;
     background: #fbfeff;
     border-bottom: 2px solid #f6f9fa;
     margin: 0.9rem auto;
}
.youhuiquan2-2{
    display: block;
    width: 7.04rem;
    height: .99rem;
    background: #fbfeff;
    border-bottom: 2px solid #f6f9fa;
    margin: -0.86rem auto;
}
.youhuiquan2neibu1{
    width: .09rem;
    height: .99rem;
    line-height: .99rem;
    text-align: center;
    font-size: .05rem;
    color: #53bafe;
    float: left;
}
.youhuiquan2neibu2{
    width: 6.95rem;
    height: .99rem;
    background: #fbfeff;
    float: right;
}
.youhuiquan2neibu2_L{
     width: 1.2rem;
     height: .99rem;
     text-align: left;
     line-height: .99rem;
     font-size: .22rem;
     color: #8a8c8d;
     float: left;
    margin-left: 0.08rem;
}
.youhuiquan2neibu2_R{
    width: 1.88rem;
    height: .99rem;
    text-align: right;
    line-height: .99rem;
    font-size: .22rem;
    color: #8a8c8d;
    float: right;
}
.beizhu{
    display: block;
    width: 7.04rem;
    height: 1.99rem;
    background: #fbfeff;
    margin: .9rem auto;
}
.beizhutop{
    width: 7.04rem;
    height: .72rem;
    background: #fbfeff;
}
.beizhutopL{
    width: .09rem;
    height: .72rem;
    line-height: .72rem;
    text-align: center;
    font-size: .05rem;
    color: #53bafe;
    float: left;
}
.beizhutopR{
    width: 6.95rem;
    height: .72rem;
    background: #fbfeff;
    float: right;
}
.beizhutopR1{
    width: 4.55rem;
    height: .72rem;
    text-align: left;
    line-height: .72rem;
    font-size: .22rem;
    color: #8a8c8d;
    float: left;
    margin-left: 0.08rem;
}
.beizhutopR2{
    width: 1.88rem;
    height: .72rem;
    text-align: right;
    line-height: .72rem;
    font-size: .22rem;
    color: #8a8c8d;
    float: right;
}
.beizhuup{
    width: 1.02rem;
    height: 1.02rem;
    background-image: -webkit-linear-gradient(left,#37df71,#32d698);
    margin-left: 0.01rem;
    border-radius: 10px;
}
.icon-zhaoxiangji{
    width: .49rem;
    height: .42rem;
    margin-left: .29rem;
    line-height: 1.02rem;
    color: white;
}
.bottom1{
    width: 7.5rem;
    height: 1.08rem;
    margin-top: -0.32rem;
    background: #f1faff;
    position: relative;
}
.bottommoney{
    width: 2.7rem;
    height: 1.08rem;
    background: #f1faff;
    display: flex;
}
.bottommoney1{
    width: 1.28rem;
    height: 1.08rem;
    /*background: #37e06f;*/
    text-align: center;
    line-height: 1.08rem;
    color: #84cbfe;
    font-size: .24rem;
}
.bottommoney2{
    width: 1.43rem;
    height: 1.08rem;
    /*background: #37e06f;*/
    text-align: left;
    line-height: 1.08rem;
    font-size: .24rem;
    font-weight: bold;
    color: #36a8fe;
}
.bottonbtn{
    display: block;
    width: 3.5rem;
    height: .6rem;
    background: #3bacfe;
    position: absolute;
    top: .26rem;
    right: .36rem;
    border-radius: 50px;
    color: white;
    font-size: .2rem;
    line-height: .6rem;
    text-align: center;
}